<footer class="gent-footer">
  <img src="{{ 'gent-muse-logo.svg' | asset_url }}" alt="Gent & Muse Logo">
  <nav class="footer-menu">
    <ul>
      <li><a href="/pages/politica-de-privacidad">Privacidad</a></li>
      <li><a href="/pages/terminos">Términos</a></li>
      <li><a href="/pages/envios">Envíos</a></li>
    </ul>
  </nav>
  <div class="social-icons">
    <a href="https://instagram.com/gentandmuse">Instagram</a>
    <a href="https://tiktok.com/@gentandmuse">TikTok</a>
  </div>
</footer>
