<header class="gent-header">
  <img src="{{ 'gent-muse-logo.svg' | asset_url }}" alt="Gent & Muse Logo">
  <nav>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/collections/rituales-para-el">Él</a></li>
      <li><a href="/collections/rituales-para-ella">Ella</a></li>
      <li><a href="/collections/soluciones">Soluciones</a></li>
      <li><a href="/blogs/el-ritual">Blog</a></li>
      <li><a href="/pages/contacto">Contacto</a></li>
    </ul>
  </nav>
</header>
