<section class="manifesto">
  <blockquote>
    <h2>No creemos en rutinas. Creemos en rituales.</h2>
    <h2>No creemos en género. Creemos en esencia.</h2>
    <h2>No creemos en productos. Creemos en momentos.</h2>
  </blockquote>
</section>
