<section class="newsletter">
  <h2>Únete al Ritual</h2>
  <p>Recibe tips, lanzamientos + rituales exclusivos</p>
  {% form 'customer' %}
    <input type="email" name="contact[email]" placeholder="Tu correo">
    <button type="submit" class="cta-button">Suscribirme</button>
  {% endform %}
</section>
