<section class="ritual-manifesto">
  <blockquote>
    “No creemos en rutinas. Creemos en rituales.  
    No creemos en género. Creemos en esencia.  
    No creemos en productos. Creemos en momentos.”
  </blockquote>
</section>
